.container-1 {
width: 100%;
height: 1500px;
display: grid;
grid-template-columns: auto ;
column-gap: 1px;
}



.background-1 {
width:60%;
height: 90%;
border-radius: 20px;
background-image: linear-gradient(black, blue);
/* margin: 10px; */

}

.background-2 {
    width:60%;
    height: 90%;
    border-radius: 20px;
    background-image: linear-gradient(orange, rgb(23, 133, 177));
    
    /* margin: 10px; */
}

.background-3 {
    width:60%;
    height: 90%;
    border-radius: 20px;
    background-image: linear-gradient(rgb(13, 98, 167), rgb(23, 133, 177));
    /* margin: 10px; */
}

.background-4 {
    width:60%;
    height: 90%;
    border-radius: 20px;
    background-image: linear-gradient( rgb(28, 122, 160), rgba(202, 90, 14, 0.849));
    /* margin: 10px; */
}

.background-5 {
    width:60%;
    height: 90%;
    border-radius: 20px;
    background-image: linear-gradient( rgb(159, 201, 217), rgba(28, 28, 63, 0.105));
    /* margin: 10px; */
}
.background-6 {
    width:60%;
    height: 90%;
    border-radius: 20px;
    background-image: linear-gradient(rgba(18, 17, 50), rgb(159, 201, 217) );
    /* margin: 10px; */
}
      