.container-1 {
width: 50%;
height: 500px;
display: grid;
grid-template-columns: auto auto auto;
column-gap: 1px;
}



.background-1 {
width: 100%;
height: 90%;
border-radius: 20px;
background-image: linear-gradient(rgb(4, 5, 38), rgb(106, 41, 106), rgb(188, 83, 38));
margin: 10px;

}

.background-2 {
    width: 100%;
    height: 90%;
    border-radius: 20px;
    background-image: linear-gradient(rgb(208,95,45),rgb(222,135,54));
    
    margin: 10px;
}

.background-3 {
    width: 100%;
    height: 90%;
    border-radius: 20px;
    background-image: linear-gradient(rgb(48,11,105),rgb(13, 98, 167), rgb(16,148,226));
    margin: 10px;
}

.background-4 {
    width: 100%;
    height: 90%;
    border-radius: 20px;
    background-image: linear-gradient( rgb(51,70,173),rgb(199,115,83));
    margin: 10px;
}

.background-5 {
    width: 100%;
    height: 90%;
    border-radius: 20px;
    background-image: linear-gradient( rgb(210,178,220), rgb(150,197,240));
    margin: 10px;
}
.background-6 {
    width: 100%;
    height: 90%;
    border-radius: 20px;
    background-image: linear-gradient(rgb(21, 20, 63), rgb(159, 201, 217) );
    margin: 10px;
}
      